body{
  background:#f4f4f5;
  font-family:sans-serif;
}
.calendario{
  float:left;
  margin-left:40px;
  width:123px;
  border:1px solid #b3b3b3;
  padding-left:10px;
  height:24px;
  color:#444;
  margin-top:10px;
}
.ui-datepicker{
  display:none;
  width:210px;
  margin-top:10px;
  background:#f3f3f3;
  border:1px solid #c8c8c8;
}
.ui-datepicker-header{
  height:30px;
  line-height:40px;
  color:#494747;
  font-weight:lighter;
  margin-bottom:10px;
  margin-top:8px;
  font-size:14px;
}
.ui-datepicker-prev, .ui-datepicker-next{
  width:10px;
  height:10px;
  text-indent:9999px;
  border:1px solid #c8c8c8;
  border-radius:100%;
  cursor:pointer;
  overflow:hidden;
  margin-top:12px;
  font-size:3px;
}

.ui-datepicker-prev{
  float:left;
  margin-left:10px; 
}
.ui-datepicker-prev:after{
    transform:rotate(45deg);
    margin:-37px 0 0 3px;
}
.ui-datepicker-next{
  float:right;
  margin-right:10px;
}
.ui-datepicker-next:after{
    transform:rotate(-135deg);
    margin:-37px 0 0 .7em;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after{
  content:'';
  position:absolute;
  display:block;
  width:3px;
  height:3px;
  border-left:1px solid #c8c8c8;
  border-bottom:1px solid #c8c8c8;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after{
  border-color:#5ed1cc;
}
.ui-datepicker-title{
  text-align:center;
}
.ui-datepicker-calendar{
  width:85%;
  margin:0 auto;
  font-size:15px;
  margin-bottom:10px;
  text-align:center;
}
.ui-datepicker-calendar th{
  border-bottom:1px solid #c8c8c8;
}
.ui-datepicker-calendar td{
  padding:.21em;
}
.ui-datepicker-calendar span{
  display:block;
  color:#494747;
  margin-bottom:5px;
  font-weight:lighter;
  font-size:12px;
  width:20px;
}
.ui-state-default{
  display:block;
  text-decoration:none;
  color:#494747;
  line-height:20px;
  font-size:10px;
}
.ui-state-default:hover{
  background:rgba(0,0,0,0.2);
  border-radius:50%;
}
.ui-state-highlight{
  color:#8dd391;
}

.ui-state-active{
  color:#f3f3f3;
  background-color:#363636;
  border-radius:50%;
}
.ui-datepicker-unselectable .ui-state-default{
    color:#eee;
    border:2px solid transparent;
}

