/* 懒人图库 搜集整理 www.lanrentuku.com */

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  position: absolute;
  height: 100%;
  width:100%;
}
.banner{
  width:100%;
  height:100px;
  background-color: #2d3e50;
}
.welcome{
  float:right;
  height:100px;   
  overflow:hidden; 
  line-height: 100px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  margin-right:30px;
}
.banner-button-wrap{
  float: right;
  padding-right:10px; 
  margin-top: 30px;
}
.banner-button{ 
  float:right;
  line-height:40px;
  height:40px;
  width:125px;
  color:#ffffff;
  background-color:#b5bbc2;
  font-size:16px;
  font-weight:normal;
  font-family:Arial;
  /*border:1px solid #dcdcdc;*/
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius:5px;
  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
.banner-button:hover {
  background-color:#DFCB82;
}
.nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  width: 100px;
  margin: 0 0;
  background: #2d3e50; /*#36a5de*/
  color: #f0f0f0;
  height:85.3%;
  float:left;
}
.nav span {
  padding: 0 10px;
  line-height: inherit;
  cursor: pointer;
}
.nav_menu {
  text-align: center;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  /*overflow: hidden;*/
  /*float:left;*/
}
.nav_menu-item {
  display: block;
  /*margin-bottom: 80px;*/
  margin-top:80px;
}
.nav_submenu-item a{
  text-decoration: none;
  color:white;
}
.nav_menu-item:hover {
  background-color: #1abc9c;
}
.nav_menu-item:hover .nav_submenu {
  display: inline-block;
}
.nav_submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 100px;
  background-color: #12adda;
  left: 100px;
}
.nav_submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.main{
  transition: all 0s;
  position:absolute;
  margin-left:200px;
  /*width:92.6%;*/
  width:85.3%;
  /*height:578px;*/
  height:85.3%;
}

/*@media screen and (min-width:768px){
  .main{
    height:578px;
  }
}*/

.nav:hover + .main {
  /*margin-left:200px;*/
  /*width:85.3%;*/
}
