body{
	margin: 0; 
	height: 100%; 
	width: 100%; 
	position: absolute;
	background: white;
	font-family: 'Open Sans', sans-serif;
}
#query{
	position: fixed;
	width: 100%;
	height:100px;
	background-color: #b5bbc2;
}
#query-table{
	width:100%;
	height:100%;
	border-collapse:collapse;
	/*cellspacing="10%"*/
}
#response{
	margin-top:100px;
}
table,td,th{
	border:0px solid #DD3DC1;
	text-align: center;
}
.style-1{
	width:120px;
	height:30px;
	text-align: center;
}
.banner-button{ 
	/*float:right;*/
	line-height:40px;
	height:40px;
	width:125px;
	color:#ffffff;
	background-color:#3B423F;
	font-size:16px;
	font-weight:normal;
	font-family:Arial;
	/*border:1px solid #dcdcdc;*/
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	text-align:center;
	display:inline-block;
	text-decoration:none;
}
.banner-button:hover {
	background-color:#DFCB82;
}
select{
	border-style: none; 
	background-color: #2d3e50;  /*#A59D9D*/
	color:white;
}

.ui-datepicker td a{
	text-align:center;
}
.ui-datepicker {
	width:12em;
}